.d-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}



.settings {
  position: relative;
  @extend .d-flex;
  flex-direction: column;
  align-items: flex-start;
  gap:var(--s-9);
  width: 100%;
  &--no-view{
    max-width: 600px;
  margin: 200px auto;
  }
  &__title {
    @extend .d-flex;
    width: 100%;
    justify-content: flex-start;
  }

  &--full {
    padding: calc(var(--s-nav-height) + var(--s-1)) var(--s-9);
    height: 100%;
    width: var(--s-9-width);
  }

  &__container {
    height: max-content;
    flex-direction: row;
    @extend .d-flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 100%;

    @media (max-width: 1100px) {
      flex-direction: column;
    }
  }

  &__nav {
    @extend .d-flex;
    flex: 1;
    background-color: var(--gray-80);
    box-shadow: var(--s-11) var(--s-9) var(--s-8) var(--s-11) var(--gray-100);
    padding: var(--s-5) var(--s-11);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    width: var(--s-11-width);

    @media (max-width: 1100px) {
      width: 100%;
      padding: unset;
      // flex: 1 1 100%;
    }
  }

  &__view {
    @extend .d-flex;
    flex: 5;
    box-sizing: border-box;
    height: 100%;

    &--full {
      width: 100%;
      overflow-x:hidden;
    }

    @media (min-width: 1100px) {}

    &--content {
      width: 100%;
      position: relative;
    }
  }
}