.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-grid-item {
  @extend .d-flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--gray-90-o);
  border-radius: var(--border-radius);
  gap: var(--s-4);
  overflow: hidden;
  box-sizing: border-box;
  width:var(--s-9-width);
  padding:var(--s-9);


  &__header {
    @extend .d-flex;
    flex-direction: column;
    gap: var(--s-4);
    width: 100%;
  }

  &__title {
    color: var(--primary-50);
    font-size: var(--s-3);
    text-transform: capitalize;
    width: 100%;
  }

  &__body {
    color: var(--gray-50);
    font-size: var(--s-4);
    width: 100%;
    line-height: 1.5;
  }

  &__icon {
    @extend .d-flex;
    height: 90px;
    --ui-icon-width: 90px;
    --ui-icon-height: 90px;
    --ui-icon-color: var(--primary-o);
    margin-bottom: var(--s-2);
  }

  &__center {
    text-align: center;
    font-size: var(--s-5);
    line-height: 1.5;
    width: 100%;
  }
}
